@use './text.scss';
@use './custom-antd.scss';
*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif !important;
  font-size: 14px;
  line-height: normal;
  text-rendering: optimizeSpeed;
}

:root {
  --background-body: #fff;
  --background-body-tertiary: #f8f9fa;
  --scroll-track-background: #fff;
  --scroll-thumb-background: #ccc;
  --scroll-thumb-hover: #9e9e9e;
  --brand-name-100: black;
  --brand-name-200: black;
  --brand-social: #4762f8;
  --border-hero-right: #eee;
  --background-hero-right: linear-gradient(to right, #fff, #eee);
  --border-top-hero-right: linear-gradient(to right, transparent, #fff, #fff, transparent);
  --text-white: #000;
  --line-blue-500: #1a1443;
  --resize-button: linear-gradient(to right, #ec4899, #8b5cf6);
  --glow-card-background: #f5f6f7;
  --skill-card-background: #f5f6f7;
  --border-top-skill-card: linear-gradient(to right, transparent, #fff, #fff, transparent);
  --bs-navbar-color: rgba(0, 0, 0, 0.65);
  --bs-navbar-active-color: rgba(0, 0, 0, 1);
  --bs-navbar-hover-color: rgba(0, 0, 0, 0.8);
  --brand-social: #4762f8;
  --text-red-500: #f96f73;
  --text-yellow-500: #fa9348;
  --text-green-500: #b6f9d2;
  --text-pink-100: #ec4899;
  --text-pink-200: #bd21b8;
  --bs-border-color: #dee2e6;
}

[data-theme='dark'] {
  --background-body: #0d1224;
  --background-body-tertiary: transparent;
  --scroll-track-background: #0d1224;
  --scroll-thumb-background: #606060;
  --scroll-thumb-hover: #d6d6d6;
  --brand-name-100: #16f2b3;
  --brand-name-200: #ec4899;
  --brand-social: #ec4899;
  --border-hero-right: #1b2c68a0;
  --background-hero-right: linear-gradient(to right, #0d1224, #0a0d37);
  --border-top-hero-right: linear-gradient(to right, transparent, #ec4899, #8b5cf6, transparent);
  --text-white: #fff;
  --line-blue-500: #1a1443;
  --resize-button: linear-gradient(to right, #ec4899, #8b5cf6);
  --glow-card-background: #101123;
  --skill-card-background: #11152c;
  --border-top-skill-card: linear-gradient(to right, transparent, #8b5cf6, #8b5cf6, transparent);
  --bs-navbar-color: rgba(255, 255, 255, 0.55);
  --bs-navbar-active-color: #fff;
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
  --brand-social: #ec4899;
  --text-red-500: #f96f73;
  --text-yellow-500: #fa9348;
  --text-green-500: #b6f9d2;
  --text-pink-100: #ec4899;
  --text-pink-200: #bd21b8;
  --bs-border-color: #495057;
  .experiences-bg {
    background-image: url(/Images/bg-experiences.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.header_active {
  color: var(--bs-navbar-active-color) !important;
}

.home {
  background-image: url(/Images/bg-section.svg);
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0px;
  right: 0;
  background-repeat: no-repeat;
  z-index: 0;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.resize-button {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 9999px;
  background-image: var(--resize-button);
  padding: 15px 25px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border: none;
}

.Typewriter > span {
  font-size: 20px;
}

.border-top {
  border-image: var(--border-top-hero-right) 1;
  border-top: 1px solid var(--bs-border-color);
}

.hero_right {
  background-image: var(--background-hero-right);
}

.skill-item {
  border-image: var(--border-top-skill-card) 1;
  border-top: 1px solid var(--bs-border-color);
}

.experiences {
  border-image: repeating-linear-gradient(135deg, #ec4899, #8b5cf6, #ec4899) 8;
  -webkit-mask: conic-gradient(from 180deg at top 8px right 8px, #0000 90deg, #000 0)
      var(--_i, 200%) 0 /200% var(--_i, 8px) border-box no-repeat,
    conic-gradient(at bottom 8px left 8px, #0000 90deg, #000 0) 0 var(--_i, 200%) / var(--_i, 8px)
      200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  transition: 0.3s, -webkit-mask-position 0.3s 0.3s;
}

.experiences:hover {
  --_i: 100%;
  border-width: 2px;
  transition: 0.3s, -webkit-mask-size 0.3s 0.3s;
}

.skill-hover:hover > p {
  color: var(--brand-social);
}
@keyframes wave-animation {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

.running-line-1 {
  stroke-dasharray: 500;
  stroke-dashoffset: 0;
  animation: dash 2s linear infinite;
}

.running-line-2 {
  stroke-dasharray: 500;
  stroke-dashoffset: 0;
  animation: dash1 2s linear infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1px;
    stroke-dasharray: 0 1000;
  }
}

@keyframes dash1 {
  0% {
    stroke-dashoffset: 1px;
    stroke-dasharray: 0 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.running-up-down-1 {
  animation: up-down-1 2s linear infinite;
}

.running-up-down-2 {
  animation: up-down-2 2s linear infinite;
}

.running-up-down-3 {
  animation: up-down-3 2s linear infinite;
}

.running-up-down-4 {
  animation: up-down-4 2s linear infinite;
}

@keyframes up-down-1 {
  0% {
    transform: matrix(0.5, 0, 0, 0.5, 75.23100280761719, 39.23222351074219);
  }
  50% {
    transform: matrix(0.5, 0, 0, 0.5, 75.23100280761719, 30.23222351074219);
  }
  100% {
    transform: matrix(0.5, 0, 0, 0.5, 75.23100280761719, 39.23222351074219);
  }
}

@keyframes up-down-2 {
  0% {
    transform: matrix(0.5, 0, 0, 0.5, 80.07849884033203, 31.511093139648438);
  }
  50% {
    transform: matrix(0.5, 0, 0, 0.5, 80.07849884033203, 21.511093139648438);
  }
  100% {
    transform: matrix(0.5, 0, 0, 0.5, 80.07849884033203, 31.511093139648438);
  }
}

@keyframes up-down-3 {
  0% {
    transform: matrix(0.5, 0, 0, 0.5, 145.1614990234375, 48.9080924987793);
  }
  50% {
    transform: matrix(0.5, 0, 0, 0.5, 145.1614990234375, 38.9080924987793);
  }
  100% {
    transform: matrix(0.5, 0, 0, 0.5, 145.1614990234375, 48.9080924987793);
  }
}

@keyframes up-down-4 {
  0% {
    transform: matrix(0.5, 0, 0, 0.5, 152.18698120117188, 61.026092529296875);
  }
  50% {
    transform: matrix(0.5, 0, 0, 0.5, 152.18698120117188, 51.026092529296875);
  }
  100% {
    transform: matrix(0.5, 0, 0, 0.5, 152.18698120117188, 61.026092529296875);
  }
}

@media screen and (min-width: 486px) {
  .hidden-menu {
    display: none;
  }
}

@media screen and (max-width: 486px) {
  .hidden-header {
    display: none !important;
  }
}
